.sys_utterance {
    background-color: #d1e5ff;
}


.usr_utterance {
    background-color: #ddffdb;
}

.sys_name {
}

.usr_name {
}

.msg_time {
}

.sys_msg {
}

.usr_msg {
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

