{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="jumbotron">
    <h1>Bob with Bioagents</h1>
    <p>
    The dialogue system can be used with two different interfaces.
    The CLiC interface focuses on simple text-based dialogue with minimal
    graphical display. The SBGN interface contains a large model canvas along
    with the dialogue panel, allowing richer graphical model building and
    analysis.

    To launch the dialogue system, click on one of the buttons below, and wait
    ~90 seconds to get a dedicated instance of the dialogue system to launch.
    You will automatically be redirected to a dialogue session where you can
    start talking with the machine agent.
    </p>
    <form class="form form-horizontal" method="get" action='launch_clic'
     role="form">
      {{ clic_form.hidden_tag() }}
      {{ wtf.form_errors(clic_form, hiddens="only") }}
      {{ wtf.form_field(clic_form.submit_button) }}
    </form>

    {{ wtf.quick_form(sbgn_form, action='launch_sbgn', method='GET',
                      button_map={'submit_button': 'sbgn'}) }}
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
