{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <div class="jumbotron">
        <h1>Bob with Bioagents</h1>
        <p>
        Bob with Bioagents is a machine partner with whom you can chat
        about molecular biology and solve problems together.
        The system can be launched with two different interfaces, CLiC and
        SBGNViz below.
        </p>
        <p>
        To launch the dialogue system, click on one of the buttons below, and wait
        90 seconds to get a dedicated instance of the dialogue system to launch.
        You will automatically be redirected to a dialogue session where you can
        start talking with the machine agent. When you are done, click the
        End Session button above the dialogue interface.
        </p>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-6", align="center">
        <div class="panel panel-default">
        <img src="/static/clic_small.png">
        <p>
        The CLiC interface focuses on simple text-based dialogue with minimal
        graphical display. 
        </p>
        <form class="form form-horizontal" method="post" action='launch_clic'
         role="form">
          {{ clic_form.hidden_tag() }}
          {{ wtf.form_errors(clic_form, hiddens="only") }}
          {{ wtf.form_field(clic_form.submit_button, class="btn btn-primary") }}
        </form>
        </div>
    </div>
    <div class="col-md-6", align="center">
        <div class="panel panel-default">
        <img src="/static/sbgn_small.png">
        <p>
        The SBGNViz interface contains a large model canvas along
        with the dialogue panel, allowing richer graphical model building and
        analysis.
        </p>
        <form class="form form-horizontal" method="post" action='launch_sbgn'
         role="form">
          {{ sbgn_form.hidden_tag() }}
          {{ wtf.form_errors(sbgn_form, hiddens="only") }}
          {{ wtf.form_field(sbgn_form.submit_button, class="btn btn-primary") }}
        </form>
        </div>
    </div>
</div>
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Talking with Bob</h4></div>
      <div class="panel-body">
    <p class="lead">
    Assume you want to explain an experimental observation, or get
    some ideas for your next experiment. You can talk with the machine agent
    in some of the following ways:
    </p>
    <ul class="lead">
        <li>Ask about drugs, transcription factors, miRNAs and their targets</li>
        <li>Ask for mechanisms connecting molecular entities</li>
        <li>Define an observation you would like to find an explanation for</li>
        <li>Build up a model of a hypothesis by describing it in natural language</li>
        <li>Ask about dynamical properties of the model being discussed</li>
    </ul>
    <p class="lead">
    Both interfaces show example sentences you can say. While the system aims
    to support substantial linguistic variation, following the pattern of these
    sentences is in some cases more reliable.
    </p>
    </div></div>
<div class="well">
    <p class="lead">
    The development of this system was funded under the DARPA Communicating
    with Computers program. The system was developed by a consortium of teams
    from Harvard Medical School, OHSU, Tufts, SIFT and IHMC.
    </p>
    <p class="lead">
    Point of contact: Benjamin M. Gyori (benjamin_gyori [AT] hms.harvard.edu)
    </p>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
