{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}

<script>
    function start_timer(duration){
        var timer = duration;
        setInterval(
            function(){
                if (timer >= 0) {
                    console.log(timer)
                    document.getElementById("counter").textContent = --timer;
                    };
                },
            1000
            );
        };

    function submit_delete() {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "http://{{manager_url}}/end_session/{{container_id}}", true);
        xhr.send();
        };
    window.onload = function () {
        redirecttime = "90000";
        redirecturl = "{{dialogue_url}}";
        //setTimeout("location.href = redirecturl;", redirecttime);
        //setTimeout("document.getElementById(\"dialogueframe\").style.visibility=\"visible\";",
        //           redirecttime);
        //setTimeout("document.getElementById(\"dialogueframe\").contentWindow.location.reload();",
        //           redirecttime);
        var timeout = {{time_out}};
        start_timer(timeout);
        };

</script>


<div class="container">
    <div class="well">
        <p>Please wait while your dedicated dialogue session is starting.
           Your session will be available below in
           <span id="counter">{{time_out}}</span>
           seconds...
        </p>
        When done, click this button to end your session:
    <button type="button" onclick="submit_delete()")>End Session</button>
    </div>
</div>
    
    <div align="center">
        <iframe width="1700" height="1500" id="dialogueframe" src={{dialogue_url}} frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
