{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}

<script>
    var timer = {{time_out}}
    var interval = setInterval(checkup, 1000);

    function checkup(){
        if (timer >= 0) {
            console.log(timer)
            document.getElementById("counter").textContent = --timer;
            }
        else {
            document.getElementById("counter_div").style.display='None';
            document.getElementById("dialogue_div").style.display='inline-flex';
            document.getElementById("dialogue_frame").src = '{{dialogue_url}}';
            clearInterval(interval)
            }
        };

    function submit_delete() {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "{{manager_url}}/end_session/{{container_id}}", true);
        xhr.send();
        alert("Redirecting you back to the home page...");
        location.href = "{{manager_url}}";
        };

</script>


<div class="container">
    <div id="counter_div" align="center" class="well">
        <p>Please wait while your dedicated dialogue session is starting.
           Your session will be available below in
           <span id="counter">{{time_out}}</span>
           seconds...
        </p>
    </div>
</div>
<div class="container">
    <div id="end_div" align="center" class="well well-sm">
        When done, click this button to end your session:
        <button type="button" onclick="submit_delete()">End Session</button>
    </div>
    
</div>
<div id="dialogue_div" style="display: none;">
    <iframe width="1700" height="1500" src="" id="dialogue_frame" frameborder="0" allowfullscreen>
    </iframe>
</div>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
